* {
  margin: 0;
}

.app {
  background-color: #FAFAFA;
}

.app__header {
  background-color: white;
  padding: 20px; 
  border-bottom: 1px solid lightgrey;
  object-position: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}